section#section-01
    .container.how-works
      h2.section-title How Dreamshare works?
      .how-works__steps-wrapper.grid-block
        .how-works__steps.step-1.ips
          span Step 1
          h3.how-works__step-title Sed leo enim, condimentum
          p.how-works__step-text
            | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit
            | amet facilisis.
        .how-works__steps.step-2.ips
          span Step 2
          h3.how-works__step-title Morbi velit risus
          p.how-works__step-text
            | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
        .how-works__steps.step-3.ips
          span Step 3
          h3.how-works__step-title Sed leo enim, condimentum
          p.how-works__step-text
            | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit
            | amet facilisis.
section#section-02
    .container.partners
      h2.section-title Meet a partner for your best holiday
      .meet-partners.grid-block
        .meet-partners__partner-card.meet-partners__card-1
          .meet-partners__partner-card-img
            img(src='./images/partner1.png', alt='')
          h4.meet-partners__partner-card-name Bradley Hunter
          p.meet-partners__partner-card-descrip
            | Based in Chicago. I love playing tennis and loud music.
        .meet-partners__partner-card.meet-partners__card-2
          .meet-partners__partner-card-img
            img(src='./images/partner2.png', alt='')
          h4.meet-partners__partner-card-name Marie Bennett
          p.meet-partners__partner-card-descrip
            | Currently living in Colorado. Lover of art, languages and travelling.
        .meet-partners__partner-card.meet-partners__card-3
          .meet-partners__partner-card-img
            img(src='./images/partner3.png', alt='')
          h4.meet-partners__partner-card-name Diana Wells
          p.meet-partners__partner-card-descrip
            | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
        .meet-partners__partner-card.meet-partners__card-4
          .meet-partners__partner-card-img
            img(src='./images/partner4.png', alt='')
          h4.meet-partners__partner-card-name Christopher Pierce
          p.meet-partners__partner-card-descrip
            | Star Wars fanatic. I have a persistent enthusiasm to create new things.
      .button
        button.see-other-partners See other partners
section#section-03
    .container
      h2.section-title Discover holiday activity ideas
      .gallery-grid.grid-block
        .gallery-grid__element-1.background-position
          .gallery-grid__background-mask
            h4.gallery-grid__element-title Sports and Activis
        .gallery-grid__element-2.background-position
          .gallery-grid__background-mask
            h4.gallery-grid__element-title Wellness and Health
        .gallery-grid__element-3.background-position.ps-3
          .gallery-grid__background-mask
            h4.gallery-grid__element-title Extreme Sports and Expeditions
        .gallery-grid__element-4.background-position
          .gallery-grid__background-mask
            h4.gallery-grid__element-title Games
        .gallery-grid__element-5.background-position
          .gallery-grid__background-mask
            h4.gallery-grid__element-title Culture and Education
        .gallery-grid__element-6.background-position
          .gallery-grid__background-mask
            h4.gallery-grid__element-title Enjomet and Relaxation
        .gallery-grid__element-7.background-position.ps-7
          .gallery-grid__background-mask
            h4.gallery-grid__element-title Trevelling
section#section-04
    .container
      .interests
        h2.section-title Crate your holiday activity
        .interests-form
          h4.interests-form__text Hi! What are your holiday interests?
          .interests-form__search-fild
            input.interests-form__input(type='text', placeholder='Enter your interests')
            button.interests-form__search-button Search partners
