footer
  .container
    .footer-content.grid-block
      .footer-content__site-name
        h4 DREAMSHARE
      .footer-content__company
        h4.footer-content__title Company
        .footer-content__company-list
          ul
            li.footer-content__company-list-element About
            li.footer-content__company-list-element Contact
            li.footer-content__company-list-element Press
            li.footer-content__company-list-element Blog
            li.footer-content__company-list-element Terms and Privacy
            li.footer-content__company-list-element Help
      .footer-content__partners
        h4.footer-content__title Partners
      .footer-content__disigned-by
        h4.footer-content__designed-by-title
          | DESIGNED BY
        img(src='./images/designed-by.svg', alt='')
