header
  .site-top-bar.container
    .site-top-bar__logo-install
      .site-top-bar__logo
        a(href='index.html') Dreamshare
      .site-top-bar__log-sing
        button.site-top-bar__log-in Log in
        button.site-top-bar__sign-up Sing up
  .promo
    .promo__content
      h2.promo__site-title Dreamshare
      h1.promo__heading share your holiday dream
      p.promo__text And find the perfect partner to fullfill it
      button.promo__button Find your holiday partner
